<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% block contents %}
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add category</h4>
            <form class="forms-sample" method="post" action="{% url 'savecategory' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control"  placeholder="Name" name="cat_name">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="cat_des"></textarea>
                </div>
                <div class="form-group">
                    <label>Image</label>
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info"  placeholder="Upload Image" name="imge">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}
      {% for i in messages %}
        {% if i.tags == 'warning' %}
        <script>
        swal('{{i}}','', 'warning');
        </script>
        {% elif i.tags == 'error' %}
        <script>
        swal('{{i}}','', 'error');
        </script>
        {% else %}
       <script>
        swal('{{i}}','', 'success');
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}